.class_message
{
	margin : 10px 10px 10px 10px;
	background-color : #f9f9f9;
}

#id_function_name
{
	margin : 5px 0px 0px 5px;
}

#id_body
{
	width : 730px;
}

#id_form_body
{
	margin : 7px 0px 0px 7px;
	clear : both;
}

#id_form_ref
{
	margin : 3px 0px 0px 10px;
}

#id_form_tag
{
	margin : 3px 0px 0px 10px;
}

.class_username 
{
	margin : 5px 0px 10px 5px;
	float : left;
}

.class_datetime 
{
	margin : 5px 5px 10px 0px;
	float : right;
}

.class_body
{
	margin : 0px 0px 10px 5px;
	clear : both;
}

.class_re_parts
{
	vertical-align : -3px;
	width : 20px;
	height : 20px;
}

.class_tag
{
	margin : 0px 0px 0px 5px;
	clear : both;
}
